.finder {
  @include container;

  display: block;
  position: relative;
  margin: calc(4 * var(--space-outer)) auto 0;

  font-family: var(--font-regular);
  line-height: 1.5;

  .is-empty & {
    min-height: calc(100vh - 24rem);
    margin-top: 0;
    padding-top: calc(4 * var(--space-outer));
  }

  .finder__wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;

    width: 100%;

    @media screen and (max-width: 359px) {
      flex-flow: row wrap;
    }
  }

  .finder__message {
    display: block;
    position: relative;

    margin-top: var(--space-outer);
    text-align: left;
    font-weight: 600;
  }

  .finder__input {
    flex: 1;
    margin-right: var(--space-outer);

    @media screen and (max-width: 359px) {
      margin-right: 0;
    }
  }

  .finder__button {
    flex: 0 0 12rem;

    @media screen and (max-width: 479px) {
      flex: 0 0 auto;
    }

    @media screen and (max-width: 359px) {
      flex: 1 1 100%;
      margin-top: calc(var(--space-outer) * 2 / 3);
    }
  }

  .finder__empty {
    display: block;

    width: 100%;
    text-align: center;
  }
}