@mixin footer_link {
  a {
    border-bottom: solid 0.0625rem var(--color-primary);
    transition: border-bottom 0.25s;

    &:hover {
      border-bottom-color: transparent;
    }

    @media screen and (max-width: 767px) {
      border-width: 0.0625rem;
    }
  }
}

.footer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 100%;
  margin-top: calc(var(--space-outer) * 2);

  .footer__inner {
    @include container;

    display: grid;
    grid-template-areas: "logo description navbar service";
    grid-template-columns: auto 1fr 1fr 12rem;
    grid-gap: var(--space-outer);

    padding: calc(var(--space-outer) * 2) 0;

    border-top: 0.125rem solid var(--color-primary);

    @media screen and (max-width: 1023px) {
      grid-template-areas: "description navbar service";
      grid-template-columns: 2fr 2fr 10.75rem;
    }

    @media screen and (max-width: 767px) {
      grid-template-areas: "navbar navbar" "description service";
      grid-template-columns: 1fr 10.75rem;
      grid-gap: calc(var(--space-outer) * 2);
    }

    @media screen and (max-width: 479px) {
      grid-template-areas: "navbar" "service" "description";
      grid-template-columns: 1fr;
    }
  }

  .footer__logo {
    grid-area: logo;

    display: inline-flex;
    align-self: flex-start;
    position: relative;

    width: 4.75rem;
    padding-right: 1.25rem;

    .footer__logo-image {
      display: block;
      width: 100%;
      height: auto;
    }

    &:active {
      transform: translateY(0.075rem);
    }

    @media screen and (max-width: 1023px) {
      display: none;
    }
  }

  .footer__description {
    grid-area: description;

    display: block;
    position: relative;

    font-size: 0.875rem;
    line-height: 1.5;

    @include footer_link;

    p {
      margin: 0 0 1rem;

      &:last-child {
        margin: 0;
      }

      @media screen and (max-width: 1023px) {
        margin-bottom: 0.75rem;
      }
    }

    @media screen and (max-width: 1023px) {
      font-size: 0.8125rem;
    }

    @media screen and (max-width: 479px) {
      font-size: 0.75rem;
    }
  }

  .footer__navbar {
    grid-area: navbar;

    display: block;
    position: relative;

    .footer__navbar-menu {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0.5rem;

      @media screen and (max-width: 1023px) {
        font-size: 0.875rem;
      }

      @media screen and (max-width: 767px) {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0.5rem 1rem;

        .menu__item {
          margin: 0;
        }
      }

      @media screen and (max-width: 479px) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.5rem 1rem;

        font-size: 0.8125rem;
      }

      @media screen and (max-width: 359px) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  .footer__service {
    grid-area: service;

    display: block;
    position: relative;
  }

  .footer__social {
    justify-content: flex-start;

    @media screen and (max-width: 479px) {
      justify-content: center;
    }
  }

  .footer__donate {
    display: block;

    width: 100%;
    margin-top: 1.5rem;

    @media screen and (max-width: 479px) {
      padding: 0.625rem 1.25rem;
    }
  }

  .footer__itcoop-logo {
    display: block;
    border: none;
    margin-top: 1.5rem;
    grid-area: service;
  }

  .footer__itcoop-logo-image {
    height: 1rem;
    width: auto;
  }

  &.footer--ecomap {

    .footer__inner {
      grid-template-areas: "description contacts";
      grid-template-columns: 1fr auto;

      .footer__description {
        font-size: 1rem;
      }

      .footer__contacts {
        grid-area: contacts;

        .footer__contacts-description {
          @include footer_link;
        }
      }

      @media screen and (max-width: 767px) {
        grid-template-areas:
          "description"
          "contacts";
        grid-template-columns: 1fr;
      }
    }
  }
}
