.message {
  @include container;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  flex: 1 1 auto;
  position: relative;

  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;

  min-height: 60vh;
  margin: 0 auto;

  font-family: var(--font-regular);
  font-size: 1.1875rem;
  line-height: 1.5;

  .message__title {
    display: block;

    width: 100%;
    margin-bottom: 1.5rem;

    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.075;

    @media screen and (max-width: 767px) {
      margin-bottom: 0.75rem;
      font-size: 1.75rem;
      line-height: 1.125;
    }
  }

  .message__content {
    display: block;

    width: 100%;
    font-size: 1.125rem;
    font-weight: 400;
  }
}
