.message {
  @include container;

  display: block;
  position: relative;

  margin: 0 auto;
  padding: 4rem 0 2rem;

  font-family: var(--font-regular);
  font-size: 1.1875rem;
  line-height: 1.5;

  .is-empty & {
    min-height: calc(100vh - 24rem);
  }

  .message__title {
    display: block;

    width: 100%;
    margin-bottom: 1.5rem;

    font-size: 2rem;
    font-weight: 700;
    line-height: 1.125;

    @media screen and (max-width: 767px) {
      font-size: 1.8125rem;
      line-height: 1.125;
    }

    @media screen and (max-width: 479px) {
      font-size: 1.75rem;
    }
  }

  .message__content {
    display: block;

    width: 100%;
    font-size: 1.125rem;
    font-weight: 400;
  }
}
