.post {
  @include container;

  display: block;
  position: relative;

  margin: var(--space-outer) auto 0;

  color: var(--color-dark);
  background-color: var(--color-light);
  border-radius: var(--radius-frame);

  &.post--gallery .entry-header__thumbnail {
    flex: 1 1 100%;
    margin-right: 0;
  }

  &.post--page .entry-header {
    padding-bottom: 0;
  }

  &.post--page .entry-content {
    padding-bottom: calc(var(--space-outer) * 2);
  }

  &.post--news .entry-header {
    padding-bottom: 0;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}