@font-face {
  font-family: 'Lora';
  src: url('fonts/Lora-Bold.woff2') format('woff2'),
    url('fonts/Lora-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: block;
}

@font-face {
  font-family: 'Lora';
  src: url('fonts/Lora-Regular.woff2') format('woff2'),
    url('fonts/Lora-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: block;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Bold.woff2') format('woff2'),
    url('fonts/Raleway-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: block;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-SemiBold.woff2') format('woff2'),
    url('fonts/Raleway-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: block;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Medium.woff2') format('woff2'),
    url('fonts/Raleway-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: block;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Regular.woff2') format('woff2'),
    url('fonts/Raleway-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: block;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Light.woff2') format('woff2'),
    url('fonts/Raleway-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: block;
}