:root {
  --width-site: 80rem;
  --width-content: 46rem;
  --space-outer: 1.375rem;
  --space-inner: 1.25rem;

  --radius--frame: 0.3125rem;

  --color-primary: #48625e;
  --color-inputs: rgb(72, 98, 94, 0.2);
  --color-dark: #212529;
  --color-light: #fff;
  --color-background: #efeded;
  --color-dim: rgba(0, 0, 0, 0.5);
  --color-muted: #c4c4c4;

  --font-regular: 'Raleway', sans-serif;

  @media screen and (max-width: 1023px) {
    --space-outer: 1.125rem;
    --space-inner: 1.125rem;
  }

  @media screen and (max-width: 767px) {
    --space-outer: 1rem;
    --space-inner: 1rem;
  }

  @media screen and (max-width: 479px) {
    --space-outer: 0.875rem;
    --space-inner: 0.875rem;
  }
}