.wp-block-details {
  display: block;
  padding: 0;

  border-bottom: solid 0.125rem var(--color-summary);

  & > * {
    display: block;

    width: 100%;
    max-width: var(--width-content);

    margin: 0 auto var(--space-content);
  }

  summary {
    @extend .button;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: var(--space-content);
    padding: 0.875rem 1.25rem;
    font-family: var(--font-regular);

    color: var(--color-dark);
    background-color: var(--color-summary);

    &::after {
      content: "↓";

      display: block;
      margin-left: 0.75rem;
      font-size: 0.875rem;

      transform: translateY(0.125rem);
    }

    &::-webkit-details-marker {
      display: none;
    }

    &:hover {
      filter: brightness(80%);
    }

    @media screen and (max-width: 479px) {
      padding: 0.625rem 1.25rem;
    }
  }

  &[open] summary {
    margin-bottom: 1.5rem;

    &::after {
      content: "↑";
    }
  }
}