.wp-block-heading {
  &.has-text-align-center {
    text-align: center;
  }

  &.has-text-align-left {
    text-align: left;
  }

  &.has-text-align-right {
    text-align: right;
  }

  &.is-style-separator {
    padding-bottom: 1.75rem;
    text-align: center;
    border-bottom: solid 1px var(--color-muted);
  }
}