.wp-block-kedr-help {
  display: block;
  overflow: hidden;

  padding: 2rem;
  font-family: var(--font-regular);
  font-size: 1.125rem;

  color: var(--color-dark);
  background-color: var(--color-background);

  border-radius: 0.3125rem;

  &.has-italic-font {
    font-family: var(--font-content);
    font-style: italic;
  }

  &.has-overlay-background-color {
    background-color: var(--color-overlay);
  }

  @media screen and (max-width: 767px) {
    padding: 1.5rem;
    font-size: 1rem;
  }
}