.wp-block-image {
  display: block;
  position: relative;
  overflow: hidden;

  img {
    cursor: zoom-in;

    display: block;
    max-width: 100%;

    border-radius: var(--radius-frame);
  }

  &.alignwide {
    max-width: 100%;

    img {
      width: 100%;
    }

    figcaption {
      max-width: var(--width-content);
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.alignfull {
    width: calc(100% + calc(var(--space-outer) * 2));
    max-width: calc(100% + calc(var(--space-outer) * 2));

    margin-left: calc(var(--space-outer) * -1);
    margin-right: calc(var(--space-outer) * -1);

    img {
      width: 100%;
      border-radius: 0;
    }

    figcaption {
      max-width: var(--width-content);
      margin-left: auto;
      margin-right: auto;
    }
  }
}