.wp-block-image {
  display: block;
  position: relative;
  overflow: hidden;

  img {
    cursor: zoom-in;

    display: block;
    max-width: 100%;

    border-radius: var(--radius-frame);
  }

  &.alignfull {
    max-width: 100%;

    img {
      width: 100%;
    }

    figcaption {
      max-width: var(--width-content);
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.alignright {
    img {
      margin-left: auto;
    }
  }

  &.aligncenter {
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
}