#leyka-pf-1060 {
  --leyka-color-main: var(--color-primary);
  --leyka-color-main-second: var(--color-primary);
  --leyka-color-main-third: var(--color-background);
  --leyka-color-main-inactive: var(--color-overlay);
  --leyka-font-main: var(--font-regular);

  width: var(--width-content) !important;
  max-width: 100% !important;
  margin: 0 auto !important;

  border: solid 0.125rem var(--color-primary);
  border-radius: var(--radius-frame);
  box-shadow: none;
}

#leyka-pf-1060 a {
  font-weight: 500;
  border-bottom: solid 1px var(--color-primary);
  text-decoration: none;
  transition: none;
}
#leyka-pf-1060 a:hover {
  background-color: transparent;
  border-bottom-color: transparent;
  text-decoration: none;
}

#leyka-pf-1060 #leyka-platform-signature {
  justify-content: center;
}

#leyka-pf-1060 .section .section__fields.periodicity a.active {
  z-index: 5;
  padding: 0 16px;
  border: 2px solid var(--leyka-color-main);
}

#leyka-pf-1060 .section .section__fields.periodicity a {
  z-index: 4;
  padding: 0 16px;
  border: 2px solid var(--leyka-color-gray-superlight);
}

#leyka-pf-1060 .section .section__fields.periodicity a.active:hover {
  color: var(--leyka-color-text-light);
  background-color: var(--color-primary);
}

#leyka-pf-1060 .section .section__fields.periodicity a:hover {
  color: inherit;
}
