.frame-canceling {
  display: block;
  position: relative;

  .frame-canceling__form {
    display: grid;
    grid-template-columns: 1fr 1fr 12.75rem;
    grid-gap: calc(var(--space-outer) / 2);

    margin: calc(var(--space-outer) * 2) 0 var(--space-outer);

    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 479px) {
      grid-template-columns: 1fr;
    }
  }

  .frame-canceling__form-button {
    display: block;
    position: relative;

    width: 100%;

    @media screen and (max-width: 767px) {
      grid-column: 1 / 3;
    }

    @media screen and (max-width: 479px) {
      grid-column: 1 / 2;
    }
  }

  .frame-canceling__form-message {
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 100%;

    font-weight: 600;

    background-color: var(--color-light);
  }
}
