.frame-mailing {
  @include container;

  display: block;
  position: relative;

  margin: calc(var(--space-outer) * 1.5) auto;
  padding: var(--space-outer);

  color: var(--color-dark);
  background-color: var(--color-light);
  border-radius: var(--radius-frame);

  .frame-mailing__wrapper {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    position: relative;

    width: 100%;
    max-width: var(--width-content);
    margin: 0 auto;
    padding: 0.5rem 0;

    @media screen and (max-width: 1023px) {
      padding: 0;
    }
  }

  .frame-mailing__caption {
    display: block;

    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;

    @media screen and (max-width: 767px) {
      font-size: 1.125rem;
      line-height: 1.375;
    }
  }

  .frame-mailing__form {
    display: grid;
    grid-template-columns: 1fr 12.75rem;
    grid-gap: calc(var(--space-outer) / 2);
    align-items: center;
    position: relative;

    width: 100%;
    margin: 1rem 0 0.5rem;

    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr 10rem;
    }

    @media screen and (max-width: 479px) {
      grid-template-columns: 1fr;
    }
  }

  .frame-mailing__form-input {
    text-align: center;
  }

  .frame-mailing__form-message {
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    font-weight: 600;

    background-color: var(--color-light);
  }

  &.frame-mailing--bottom {
    margin: var(--space-outer) auto;

    @media screen and (max-width: 1023px) {
      padding-left: 0;
      padding-right: 0;
      background-color: transparent;
    }
  }
}
