.frame-photostory {
  @include container;

  display: block;
  position: relative;

  margin: var(--space-outer) auto 0;

  .frame-photostory__wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    position: relative;

    width: 100%;
    min-height: 37.25rem;
    padding-top: calc(var(--space-outer) * 2);
    overflow: hidden;

    color: var(--color-light);
    border-radius: var(--radius-frame);

    &:hover .frame-photostory__image {
      filter: brightness(120%);
    }

    @media screen and (max-width: 1023px) {
      min-height: 28rem;
    }

    @media screen and (max-width: 767px) {
      min-height: 24rem;
    }
  }

  .frame-photostory__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    transition: filter 0.25s;

    .frame-photostory__image-thumbnail {
      display: block;
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center;

      transition: opacity 0.25s;

      -webkit-backface-visibility: hidden;
    }
  }

  .frame-photostory__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    width: 100%;
    padding: 10rem var(--space-outer) var(--space-outer);

    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  }

  .frame-photostory__content-category {
    display: inline-flex;
    position: relative;
    z-index: 2;

    a {
      @include stamp-label;

      color: var(--color-muted);
    }

    @media screen and (max-width: 1023px) {
      font-size: 0.8125rem;
    }
  }

  .frame-photostory__content-title {
    @include full-after(1);

    display: block;

    width: 100%;
    max-width: var(--width-content);
    margin-top: 0.5rem;

    font-size: 3.25rem;
    font-weight: 700;
    line-height: 1.075;
    text-align: center;

    @media screen and (max-width: 1023px) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 2rem;
      line-height: 1.125;
    }
  }

  .frame-photostory__content-excerpt {
    display: block;

    width: 100%;
    max-width: var(--width-content);
    margin: 0.75rem 0;

    font-size: 1.25rem;
    text-align: center;

    @media screen and (max-width: 1023px) {
      max-width: calc(var(--width-content) / 1.5);
      font-size: 1.0625rem;
    }
  }
}
