.frame-promo {
  display: block;
  position: relative;

  &.frame-promo--map {
    display: flex;
    align-items: center;
    background-color: var(--color-promo);
    font-family: var(--font-regular);
    font-size: 0.8125rem;
    border-radius: .375rem;
    padding: var(--space-content);
    box-shadow: 0px 2px 8px 0px rgba(63, 63, 63, 0.03);


    .frame-promo--map__logo {
      flex-basis: 21%;
    }

    p {
      margin-left: var(--space-content);
      margin-right: var(--space-content);
    }

    .frame-promo--map__button {
      background-color: var(--color-red);
      font-size: 0.8125rem;
      border-bottom: none;
      padding: 8px 29px;
    }
    
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;

      .frame-promo--map__logo {
        flex-basis: 40px;
        align-self: start;
      }

      p {
        margin-bottom: var(--space-content);
        flex: 1;
      }

      .frame-promo--map__button {
        width: 100%;
      }
    }
  } 
}
