.frame-promo {
  display: block;
  position: relative;

  &.frame-promo--map {
    display: flex;
    align-items: center;
    background-color: var(--color-promo);
    font-family: var(--font-regular);
    font-size: 0.8125rem;
    border-radius: .375rem;
    padding: var(--space-content);

    .frame-promo--map__logo {
      display: block;
      width: 143px;
    }

    p {
      margin-left: var(--space-content);
      margin-right: var(--space-content);
    }

    .frame-promo--map__button {
      background-color: var(--color-red);
      font-size: 0.8125rem;
      border-bottom: none;
      padding: 8px 29px;
    }
    
    @media screen and (max-width: 767px) {
      display: inline-block;

      .frame-promo--map__logo {
        float: left;
        margin-right: var(--space-content);
        margin-bottom: var(--space-content);
        width: 40px;
        height: 70px;
        background-position: top;
      }

      p {
        margin-bottom: var(--space-content);
      }

      .frame-promo--map__button {
        display: block;
        width: 100%;
      }
    }

    @media screen and (max-width: 479px) {
      
      .frame-promo--map__logo {
        max-width: 40px;
      }
    }
  } 
}
