.region {
    background-color: var(--color-region-dark);
    padding-bottom: 2em;

    .region__double {
        @include container;

        position: relative;
        margin: 0 auto 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        border-bottom-left-radius: var(--radius-frame);
        border-bottom-right-radius: var(--radius-frame);
        background-color: var(--color-region-light);

        @media screen and (max-width: 767px) {
            // full size on mobile
            width: 100%;
            max-width: 100%;
            grid-template-columns: 1fr;

            .region__image {
                order: -1;
            }

            .region__image--desktop {
                display: none;
            }
        }
    }

    .region__image {
        @include frame__image;

        // Bad design. Can't set overflow:hidden on region__double because of dropdown
        border-bottom-right-radius: var(--radius-frame);
        transition: filter 0.25s;

        .region__image-thumbnail {
            @include frame__image-thumbnail;
        }

        @media screen and (max-width: 767px) {
            order: -1;
            border-bottom-right-radius: 0;

            .region__image--desktop {
                display: none;
            }
        }
    }

    .region__content {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        gap: .75rem;
        height: 100%;
        padding: var(--space-outer);
    }

    .region__content-title {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
        color: var(--color-region-accent);
    }

    .region__content-description {
        padding-bottom: 1.5rem;
    }

    .region__content-button {
        @include center-svg;

        padding-left: 2rem;
        padding-right: 2rem;
        margin-top: .75rem;
    }

    .region__map {
        background-color: var(--color-region-dark);
        @include container;

        margin: var(--space-outer) auto 0;
        padding: var(--space-outer);

        @media screen and (max-width: 767px) {
            padding: var(--space-outer) 0 var(--space-outer);
        }
    }

}
