.region {
    background-color: var(--color-region-light);
    padding-bottom: 2em;

    .region__main-wrapper {
        width: 100%;
        display: grid;
        grid-template-areas: "area";
        max-height: 100vh;
    }

    .region__main-background {
        grid-area: area;
        background-image: linear-gradient(to bottom, transparent 0 70%, 80%, var(--color-region-light)), url('../assets/images/ecomap-cover.png');

        background-size: cover;
        background-position: top;
        width: 100%;
        height: 100%;
    }

    .region__main {
        grid-area: area;

        justify-self: center;
        @include container;
        max-width: 1000px;

        margin: var(--space-outer) auto 0;

        padding-bottom: calc(50vh - 8rem);
        padding-top: calc(50vh - 8rem);
    }

    .region__main-title {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.125;
        padding-bottom: 1.5rem;

        color: var(--color-region-accent);
    }

    .region__main-subtitle {
        font-size: 1rem;
        line-height: 2.5rem;
        line-height: 1.125;
    }

    .region__main-arrow {
        grid-area: area;

        align-self: end;

        margin: var(--space-outer) auto 0;
    }

    .region__main-arrow-icon {
        height: 1rem;
        fill: var(--color-region-dark);

        height: 2rem;
        margin: 0 auto 0;
        width: auto;
        display: block;

        transition: all 1s ease;

        &:hover {
            fill: var(--color-region-accent);
        }
    }

    .region__double {
        @include container;

        position: relative;
        margin: 0 auto 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        border-bottom-left-radius: var(--radius-frame);
        border-bottom-right-radius: var(--radius-frame);
        background-color: var(--color-region-light);

        @media screen and (max-width: 767px) {
            // full size on mobile
            width: 100%;
            max-width: 100%;
            grid-template-columns: 1fr;

            border-radius: 0;

            .region__image {
                order: -1;
            }
        }
    }

    .region__image {
        @include frame__image;

        // Bad design. Can't set overflow:hidden on region__double because of dropdown
        border-bottom-right-radius: var(--radius-frame);
        transition: filter 0.25s;

        .region__image-thumbnail {
            @include frame__image-thumbnail;
        }

        @media screen and (max-width: 767px) {
            order: -1;
            border-radius: 0;

            .region__image--desktop {
                display: none;
            }
        }
    }

    .region__content {
        @include underline_link;

        position: relative;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        gap: .75rem;
        height: 100%;
        padding: calc(var(--space-outer)*1.4) var(--space-outer) calc(var(--space-outer)*2);
    }

    .region__content-title {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
        color: var(--color-region-accent);
    }

    .region__content-description {
        padding-bottom: 1.5rem;
    }

    .region__content-button {
        @include center-svg;

        gap: 4px;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-top: .75rem;
    }

    .region__map {
        @include container;
        max-width: 1000px;

        // background-color: var(--color-region-dark);

        margin: var(--space-outer) auto 0;
        padding: var(--space-outer);

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

}
