.frame-single {
  @include container;

  display: block;
  position: relative;

  margin: var(--space-outer) auto 0;

  .frame-single__wrapper {
    display: grid;
    grid-template-columns: 32.75rem 1fr;

    position: relative;
    z-index: 0;

    width: 100%;
    overflow: hidden;

    color: var(--color-light);
    background-color: var(--color-primary);
    border-radius: var(--radius-frame);

    &:hover .frame-single__image {
      filter: brightness(120%);
    }

    @media screen and (max-width: 1023px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  .frame-single__image {
    display: block;
    position: relative;
    z-index: -1;

    width: 100%;
    padding-top: 62.5%;
    overflow: hidden;

    transition: filter 0.25s;

    .frame-single__image-thumbnail {
      display: block;
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center;

      transition: opacity 0.25s;

      -webkit-backface-visibility: hidden;
    }

    @media screen and (max-width: 1023px) {
      padding-top: 80%;
    }

    @media screen and (max-width: 767px) {
      padding-top: 50%;
      order: -1;
    }

    @media screen and (max-width: 479px) {
      padding-top: 62.5%;
    }
  }

  .frame-single__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    width: 100%;
    height: 100%;
    padding: var(--space-outer);
  }

  .frame-single__content-category {
    display: inline-flex;
    position: relative;
    z-index: 2;

    margin-bottom: auto;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;

    color: var(--color-muted);

    a {
      transition: color 0.25s;
    }

    a:hover,
    a:focus {
      color: var(--color-light);
    }

    @media screen and (max-width: 1023px) {
      font-size: 0.8125rem;
    }
  }

  .frame-single__content-title {
    @include full-after(1);

    display: block;

    margin-top: 1.5rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.125;

    @media screen and (max-width: 1023px) {
      margin-top: 0.75rem;
      font-size: 1.75rem;
      line-height: 1.25;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 479px) {
      font-size: 1.375rem;
      line-height: 1.375;
    }
  }

  .frame-single__content-excerpt {
    display: block;

    margin: 0.75rem 0 1.5rem;
    font-size: 1.375rem;

    @media screen and (max-width: 1023px) {
      font-size: 1.0625rem;
    }

    @media screen and (max-width: 479px) {
      margin: 0.5rem 0 1rem;
    }
  }

  .frame-single__content-authors {
    display: inline-flex;
    position: relative;
    z-index: 2;

    margin-top: auto;
    font-size: 0.875rem;

    color: var(--color-muted);

    a {
      transition: color 0.25s;
    }

    a:hover,
    a:focus {
      color: var(--color-light);
    }

    @media screen and (max-width: 1023px) {
      font-size: 0.8125rem;
    }
  }
}
