.frame-transfer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  .frame-transfer__button {
    display: block;
    position: relative;

    width: 100%;
    padding: 0.875rem 1.25rem;

    @media screen and (max-width: 479px) {
      padding: 0.625rem 1.25rem;
    }
  }
}