.frame-triple {
  @include container;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--space-outer);
  position: relative;

  margin: var(--space-outer) auto 0;

  .frame-triple__wrapper {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    z-index: 0;

    width: 100%;
    padding-top: 75%;
    overflow: hidden;

    color: var(--color-dark);
    background-color: var(--color-light);
    border-radius: var(--radius-frame);

    &:hover .frame-triple__image {
      filter: brightness(120%);
    }

    @media screen and (max-width: 767px) {
      padding-top: 50%;
    }

    @media screen and (max-width: 479px) {
      padding-top: 62.5%;
    }
  }

  .frame-triple__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    padding-top: 75%;
    overflow: hidden;

    transition: filter 0.25s;

    .frame-triple__image-thumbnail {
      display: block;
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center;

      transition: opacity 0.25s;

      -webkit-backface-visibility: hidden;
    }

    .frame-triple__region {
      @include region-label-base;
    }

    @media screen and (max-width: 767px) {
      padding-top: 50%;
    }

    @media screen and (max-width: 479px) {
      padding-top: 62.5%;
    }
  }

  .frame-triple__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    width: 100%;
    height: 100%;
    padding: var(--space-outer);
  }

  .frame-triple__content-category {
    display: inline-flex;
    position: relative;
    z-index: 2;

    a {
      @include stamp-label;
    }

    @media screen and (max-width: 1023px) {
      font-size: 0.8125rem;
    }
  }

  .frame-triple__content-title {
    @include full-after(1);

    display: block;

    margin: 1rem 0 0.75rem;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.25;

    @media screen and (max-width: 1023px) {
      font-size: 1.125rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.375rem;
      line-height: 1.375;
    }

    @media screen and (max-width: 479px) {
      margin: 0.75rem 0 0.5rem;
      font-size: 1.25rem;
    }
  }

  .frame-triple__content-excerpt {
    display: block;

    margin: 0 0 1.5rem;
    font-size: 1rem;

    @media screen and (max-width: 1023px) {
      font-size: 0.875rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.0625rem;
    }

    @media screen and (max-width: 479px) {
      margin: 0 0 1rem;
    }
  }

  .frame-triple__content-authors {
    display: inline-flex;
    flex-flow: row wrap;
    position: relative;
    z-index: 2;

    margin-top: auto;
    font-size: 0.875rem;

    color: var(--color-dim);

    a {
      white-space: nowrap;
      transition: color 0.25s;
    }

    a:hover,
    a:focus {
      color: var(--color-dark);
    }

    @media screen and (max-width: 1023px) {
      font-size: 0.8125rem;
    }
  }



  &.frame-triple--ecomap {
    .frame-triple__wrapper {
      background-color: var(--color-region-frames);
      color: var(--color-light);
    }

    .frame-triple__content-authors {
      color: var(--color-muted);

      a:hover,
      a:focus {
        color: var(--color-light);
      }
    }

    .frame-triple__content-category {
      a {
        color: var(--color-muted);
      }
    }
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}
