// Setup variables
@import "config/variables";
@import "config/mixins";

@import "config/fonts";
@import "config/reset";
@import "config/animations";

html {
  color: var(--color-dark);
  background-color: var(--color-background);
}

body {
  display: block;

  line-height: 1.375;
  font-weight: normal;
  font-family: var(--font-regular);

  -webkit-text-size-adjust: none;

  &.is-adminbar {
    padding-top: 32px;

    @media screen and (max-width: 782px) {
      padding-top: 46px;
    }
  }

  @media screen and (max-width: 1199px) {
    &.is-navbar {
      position: fixed;
      left: 0;
      width: 100%;
      overflow: hidden;

      &::before {
        content: "";
        cursor: default;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
      }
    }
  }
}

::placeholder {
  color: grey;
}

// Basic elements styles
@import "basic/*.scss";

// Layout elements styles
@import "layout/*.scss";

// Frame styles
@import "frames/*.scss";

// Entry styles
@import "entry/*.scss";

// Content blocks styles
@import "blocks/*.scss";