.entry-content {
  display: block;

  width: 100%;
  padding: var(--space-outer) calc(var(--space-outer) * 2);

  font-family: var(--font-content);
  font-size: 1.1875rem;
  line-height: 1.5;

  & > * {
    display: block;

    width: 100%;
    max-width: var(--width-content);
    margin: 0 auto var(--space-content);

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 767px) {
    padding: var(--space-outer);
    font-size: 1.125rem;
  }
}