.entry-content {
  display: block;

  width: 100%;
  padding: var(--space-inner);

  font-family: var(--font-content);
  font-size: 1.1875rem;
  line-height: 1.5;

  & > * {
    display: block;

    width: 100%;
    max-width: var(--width-content);
    margin: 0 auto var(--space-content);

    &:last-child {
      margin-bottom: 0;
    }
  }
}