.entry-feature {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: relative;

  width: 100%;
  margin-bottom: var(--space-outer);

  .entry-feature__wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    width: 100%;
    min-height: 37.25rem;
    padding: calc(var(--space-outer) * 2) var(--space-outer) var(--space-outer);

    color: var(--color-light);
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.85) 100%);

    @media screen and (max-width: 1023px) {
      min-height: 28rem;
    }

    @media screen and (max-width: 767px) {
      min-height: 24rem;
    }
  }

  .entry-feature__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    overflow: hidden;

    border-radius: var(--radius-frame);

    .entry-feature__image-thumbnail {
      display: block;
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center;

      transition: opacity 0.25s;

      -webkit-backface-visibility: hidden;
    }
  }

  .entry-feature__category {
    display: inline-flex;
    position: relative;
    z-index: 2;

    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;

    color: var(--color-muted);

    a {
      transition: color 0.25s;
    }

    a:hover,
    a:focus {
      color: var(--color-light);
    }

    @media screen and (max-width: 1023px) {
      font-size: 0.8125rem;
    }
  }

  .entry-feature__title {
    @include full-after(1);

    display: block;

    width: 100%;
    max-width: var(--width-content);
    margin-top: 0.5rem;

    font-size: 3.25rem;
    font-weight: 700;
    line-height: 1.075;
    text-align: center;

    em {
      display: block;

      width: 100%;
      margin: 0.75rem auto 0;

      font-weight: 400;
      line-height: 1.375;
      font-size: 1.25rem;
      text-align: center;

      @media screen and (max-width: 1023px) {
        max-width: calc(var(--width-content) / 1.5);
        font-size: 1rem;
      }
    }

    @media screen and (max-width: 1023px) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 2rem;
      line-height: 1.125;
    }
  }

  .entry-feature__meta {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    z-index: 2;

    margin-top: 1.5rem;
    font-size: 0.875rem;

    color: var(--color-muted);

    a {
      transition: color 0.25s;
    }

    a:hover,
    a:focus {
      color: var(--color-light);
    }

    &> ::after {
      content: "•";

      display: inline-flex;
      margin: 0 0.5rem;
    }

    &> :last-child::after {
      display: none;
    }

    @media screen and (max-width: 1023px) {
      margin-top: 0.75rem;
      font-size: 0.8125rem;
    }
  }

  .entry-feature__meta-date {
    cursor: default;
    position: relative;
  }

  .entry-feature__meta-authors {
    position: relative;

    a {
      transition: color 0.25s;
    }

    a:hover,
    a:focus {
      color: var(--color-light);
    }
  }

  .entry-feature__meta-caption {
    cursor: default;
  }

  .entry-feature__meta-ecomap {
    z-index: 2; // overflow title
    position: relative;
    font-weight: 600;
  }

  @media screen and (max-width: 1023px) {
    flex-flow: column nowrap;
    position: relative;
  }
}
