.entry-header {
  display: flex;
  flex-flow: row nowrap;

  width: 100%;
  padding: var(--space-outer);

  .entry-header__wrapper {
    flex: 1 1 auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;

    max-width: var(--width-content);
    margin: 1.5rem auto 0;

    & > * {
      width: 100%;
      margin: 0 auto 1.5rem;
    }

    & > *:last-child {
      margin-bottom: 0;
    }

    @media screen and (max-width: 1023px) {
      width: 100%;
      margin-top: 0.5rem;
    }
  }

  .entry-header__image {
    flex: 0 0 60%;
    order: -1;

    display: block;
    overflow: hidden;
    margin-right: calc(var(--space-outer) * 2);

    .entry-header__image-thumbnail {
      display: block;
      width: 100%;
      border-radius: var(--radius-frame);
    }

    .entry-header__image-caption {
      cursor: default;

      display: block;
      position: relative;

      width: 100%;
      padding-top: 0.5rem;
      font-size: 0.8125rem;

      text-align: center;
      color: var(--color-dim);

      @media screen and (max-width: 1023px) {
        text-align: left;
      }
    }

    @media screen and (max-width: 1023px) {
      order: 2;
      margin-right: 0;
      margin-top: 1rem;
    }
  }

  .entry-header__category {
    display: block;
    position: relative;

    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;

    color: var(--color-primary);

    a {
      transition: filter 0.25s;
    }

    a:hover,
    a:focus {
      filter: brightness(150%);
    }

    @media screen and (max-width: 1023px) {
      font-size: 0.9375rem;
    }
  }

  .entry-header__title {
    display: block;
    position: relative;

    font-size: 2rem;
    font-weight: 700;
    line-height: 1.125;

    @media screen and (max-width: 767px) {
      font-size: 1.875rem;
    }

    @media screen and (max-width: 479px) {
      font-size: 1.8125rem;
    }
  }

  .entry-header__excerpt {
    display: block;
    position: relative;

    font-size: 1.25rem;
  }

  .entry-header__meta {
    display: block;
    position: relative;

    font-size: 1rem;

    & > * {
      margin: 0 0 0.5rem;
    }

    @media screen and (max-width: 1023px) {
      font-size: 0.9375rem;
    }
  }

  .entry-header__meta-date {
    cursor: default;

    display: inline-flex;
    position: relative;

    color: var(--color-dim);

    &::after {
      content: "•";

      display: inline-flex;
      margin: 0 0.5rem;
    }
  }

  .entry-header__meta-authors {
    display: inline-flex;
    flex-flow: row wrap;

    position: relative;
    margin-right: 1rem;
    color: var(--color-primary);

    a {
      white-space: nowrap;
      transition: color 0.25s;
    }

    a:hover,
    a:focus {
      color: var(--color-dark);
    }
  }

  .entry-header__meta-extra {
    display: inline-flex;
    position: relative;

    padding: 0.25rem 0.5rem;
    font-weight: 600;

    color: var(--color-primary);
    border: solid 0.075rem;
    border-radius: 0.25rem;

    transition: color 0.25s;

    &:hover {
      color: var(--color-dark);
    }
  }

  @media screen and (max-width: 1023px) {
    padding: var(--space-outer) calc(var(--space-outer) * 2);
    flex-flow: column nowrap;
  }

  @media screen and (max-width: 767px) {
    padding: var(--space-outer);
  }
}
