.entry-header {
  display: flex;
  flex-flow: row nowrap;

  width: 100%;
  padding: var(--space-inner);

  .entry-header__wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    max-width: var(--width-content);
    margin: 1.5rem auto 0;
  }

  .entry-header__thumbnail {
    flex: 0 0 60%;
    order: -1;

    display: block;
    overflow: hidden;
    margin-right: calc(var(--space-inner) * 2);

    .entry-header__thumbnail-image {
      display: block;
      width: 100%;
      border-radius: var(--radius-frame);
    }

    @media screen and (max-width: 1023px) {
      order: 2;
      margin-right: 0;
    }
  }

  .entry-header__category {
    display: block;
    position: relative;

    width: 100%;
    margin: 0 auto 1.5rem;

    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;

    color: var(--color-primary);

    a {
      transition: filter 0.25s;
    }

    a:hover, a:focus {
      filter: brightness(150%);
    }
  }

  .entry-header__title {
    display: block;
    position: relative;

    width: 100%;
    margin: 0 auto 1.5rem;

    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1.125;
  }

  .entry-header__excerpt {
    display: block;
    position: relative;

    width: 100%;
    margin: 0 auto 1.5rem;

    font-size: 1.25rem;
  }

  .entry-header__meta {
    display: block;
    position: relative;

    width: 100%;
    margin: 0 auto;
  }

  .entry-header__meta-date {
    cursor: default;

    display: inline-flex;
    position: relative;

    color: var(--color-dim);

    &::after {
      content: '•';

      display: inline-flex;
      margin: 0 0.5rem;
    }
  }

  .entry-header__meta-authors {
    display: inline-flex;
    position: relative;

    color: var(--color-primary);

    a {
      transition: color 0.25s;
    }

    a:hover, a:focus {
      color: var(--color-dark);
    }
  }

  @media screen and (max-width: 1023px) {
    flex-flow: column nowrap;
  }
}