.widget-photostory {
  @include container;

  display: block;
  position: relative;

  margin: 0 auto var(--space-outer);

  .widget-photostory__wrapper {
    display: flex;
    position: relative;
    z-index: 0;

    width: 100%;
    overflow: hidden;

    color: var(--color-light);
    background-color: var(--color-primary);
    border-radius: var(--radius--frame);

    &:hover .widget-photostory__image {
      filter: brightness(120%);
    }
  }

  .widget-photostory__image {
    display: block;
    position: relative;
    z-index: -1;

    width: 100%;
    padding-top: 50%;
    overflow: hidden;

    transition: filter 0.25s;

    .widget-photostory__image-thumbnail {
      display: block;
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center;

      transition: opacity 0.25s;

      -webkit-backface-visibility: hidden;
    }

    @media screen and (max-width: 1023px) {
      padding-top: 55%;
    }

    @media screen and (max-width: 767px) {
      padding-top: 62.5%;
    }

    @media screen and (max-width: 479px) {
      padding-top: 100%;
    }
  }

  .widget-photostory__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
    position: absolute;

    width: 100%;
    height: 100%;
    padding: var(--space-inner);

    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.85) 100%);
  }

  .widget-photostory__content-category {
    display: inline-flex;
    position: relative;
    z-index: 2;

    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;

    color: var(--color-muted);

    a {
      transition: color 0.25s;
    }

    a:hover, a:focus {
      color: var(--color-light);
    }

    @media screen and (max-width: 1023px) {
      font-size: 0.75rem;
    }
  }

  .widget-photostory__content-title {
    @include full-after(1);

    display: block;

    width: 100%;
    max-width: var(--width-content);
    margin-top: 0.5rem;

    font-size: 3.25rem;
    font-weight: 700;
    line-height: 1.075;
    text-align: center;

    @media screen and (max-width: 1023px) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 2rem;
      line-height: 1.125;
    }
  }

  .widget-photostory__content-excerpt {
    display: block;

    width: 100%;
    max-width: var(--width-content);
    margin: 0.75rem 0 0;

    font-size: 1.25rem;
    text-align: center;

    @media screen and (max-width: 1023px) {
      max-width: calc(var(--width-content) / 1.5);
      font-size: 1rem;
    }
  }

  .widget-photostory__content-authors {
    display: inline-flex;
    position: relative;
    z-index: 2;

    margin-top: 1.5rem;
    font-size: 0.875rem;

    color: var(--color-muted);

    a {
      transition: color 0.25s;
    }

    a:hover, a:focus {
      color: var(--color-light);
    }

    @media screen and (max-width: 1023px) {
      margin-top: 0.75rem;
      font-size: 0.75rem;
    }
  }
}