.menu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  font-size: 1rem;
  line-height: 1.25;

  .menu__item {
    display: inline-flex;
    margin: 0 0.625rem;

    .menu__item-link {
      display: inline-flex;
      margin: 0;
      padding: 0 0 0.125rem;

      border-bottom: solid 0.125rem transparent;

      &:hover {
        border-bottom: solid 0.125rem var(--color-primary);
        transition: border-bottom 0.375s;
      }
    }
  }
}
