.reference {
  display: block;
  position: absolute;
  left: calc(50% + 24rem);
  z-index: 8;

  &:before {
    content: "";

    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
  }

  .reference__content {
    display: block;
    position: relative;

    width: 20rem;
    height: auto;
    padding: 1.25rem 2rem 1.25rem 1.25rem;

    font-size: 0.9375rem;
    line-height: 1.5;

    color: var(--color-dark);
    background-color: var(--color-reference);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);

    border-radius: 3px;

    animation: upswing 0.25s ease-out;

    a {
      color: var(--color-primary);
      border-bottom: solid 1px;

      &:hover {
        border-bottom-color: transparent;
      }
    }

    strong {
      font-weight: 700;
    }

    @media screen and (max-width: 1023px) {
      position: absolute;
      bottom: -0.5rem;
      left: 50%;

      width: calc(100% - 2rem);
      max-width: 30rem;
      padding-bottom: 2.5rem;
      transform: translateX(-50%);

      animation: fade-in 0.25s ease-out;
    }
  }

  .reference__content-close {
    cursor: pointer;

    display: block;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;

    width: 1rem;
    height: 1rem;

    @include cross-button(0.875rem);

    &:hover {
      opacity: 0.85;
    }
  }

  @media screen and (max-width: 1499px) {
    left: auto;
    right: 2.5rem;
  }

  @media screen and (max-width: 1023px) {
    position: fixed;
    top: auto !important;
    left: 0;
    bottom: 0;

    height: 100%;
    width: 100%;

    &:before {
      height: calc(100% + 100px);
      transform: translateY(-100px);
      background-color: rgba(0, 0, 0, 0.75);
    }
  }
}
