.wp-block-kedr-help {
	box-sizing: border-box;

	margin: 1rem 0;
	padding: 2rem;
	font-family: var(--wp--preset--font-family--regular);
	font-size: 1.125rem;

	color: var(--wp--custom--color-dark);
	background-color: var(--wp--custom--color-background);

	border-radius: 0.3125rem;

	p {
		margin: 0;
	}

	&.has-overlay-background-color {
		background-color: var(--wp--custom--color-overlay);
	}

	&.has-italic-font {
		font-family: var(--wp--preset--font-family--serif);
		font-style: italic;
	}
}
